.wrap-todo{
    display: flex;
    width: 100%;
    height: 40px;
    font-size: 16px;
    align-items: center;
}
.wrap-todo :hover .btn-del{
    display: inline-block;
    cursor: pointer;
}
.todo-check{
    margin-right: 10px;
}
.right{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%; 
}
.todo-name{
    width: 70%;
}
.todo-priority{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.wrap-edit{
    display: flex;
    height: 40px;
    width: 100%;
}
.input-edit{
    height: 35px;
    width: 80%;
}
.select-prio-edit{
    width: 20%;
    height: 100%;
}
.btn-del{
    display: none;
    margin: 10px;
}
