.Wrap-todoList{
    min-height: 700px;
    width: 600px;
    margin: 50px auto;
    border-radius: 10px;
    -webkit-box-shadow: 1px 1px 20px 11px rgba(0,0,0,0.32); 
    box-shadow: 1px 1px 20px 11px rgba(0,0,0,0.32);
}
.todo-app{
    padding: 40px;
}
.title{
    margin: 0;
    text-align: center;
    margin-bottom: 40px;
}
.top{
    margin-top: 20px;
}
.btn {
  background-color: #4CAF50;
  border: none;
  color: white;
  width :100px;
  height: 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
.bottom{
    margin: 20px 0;
    width:100%;
    display: flex;
}
.input-todo{
    height: 34px;
    outline:none;
    width:100%
}
select{
    height: 40px;
    font-size: 16px;
    outline:none;
}
option{
    height: 40px;
    font-size: 16px;
}
